<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First blog</title>
</head>
<body>
    <h1><a href = "/">Sandip's blog</a></h1>
    <section>
        {%for post in posts%}
            <div>
                <p>Published on: {{ post.published_date  }}</p>
                <h2><a href = "">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {%endfor%}
    </section>
</body>
</html>